In [1]:
import pandas as pd
#1.
A = pd.Series([2,4,6], index=[0,1,2])
B = pd.Series([1,3,5], index=[1,2,3])
C = A + B
C[1]

5.0

In [5]:
import numpy as np
a=np.arange(1,10).reshape(3,3)
a.sum(axis=0)

array([12, 15, 18])

In [6]:
pd.date_range('2020-01-01','2020-12-01',freq='BM')
#jan to nov

DatetimeIndex(['2020-01-31', '2020-02-28', '2020-03-31', '2020-04-30',
               '2020-05-29', '2020-06-30', '2020-07-31', '2020-08-31',
               '2020-09-30', '2020-10-30', '2020-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [7]:
vals=np.array([1,np.nan,3,4])
vals.sum()

nan

In [8]:
choices = pd.Series([1,2,3,4,5,6])
draws = choices.sample(n=10,replace=True)

In [11]:
print(draws)

3    4
3    4
0    1
3    4
2    3
3    4
4    5
0    1
4    5
2    3
dtype: int64

In [12]:
data =['paul', 'Peter','MARY','gUIDO']
data = [s.capitalize() for s in data]
data[3]

'Guido'

In [13]:
primes = [2,3,5,7,11,13,17,19,23,29]
squared_primes = [x*x for x in primes if x%10==3]

In [14]:
print(squared_primes)

[9, 169, 529]

In [15]:
leaders = pd.Series(['Donald trump', 'Narendra modi','boris jogn','vladiir putin','xi jinping'])
name= leaders.str.extract('([A-Za-z]+)')
name[:1]

        0
0  Donald

In [16]:
import matplotlib.pyplot 
subplot(2,1,1)
subplot(2,1,2)

NameError: name 'subplot' is not defined

In [21]:
from sklearn.preprocessing import Imputer
imp = Imputer(missing_vaues=0,strategy='mean',axis=0)
imp.fit_transform(X_train)

ImportError: cannot import name 'Imputer' from 'sklearn.preprocessing' (C:\Users\sathya\anaconda3\lib\site-packages\sklearn\preprocessing\__init__.py)

In [28]:
t= ['a','b','c','d']
y=['x','y','z']
w = t.extend(y)
print(w)

None

In [29]:
dates = pd.to_datetime("4th of July, 2019")
dates.strftime('%A')

'Thursday'

In [1]:
import pandas as pd
d = pd.date_range('11-Sep-2017', '17-Sep-2017', freq='2D')
print(d + pd.Timedelta('1 days 2 hours') )

DatetimeIndex(['2017-09-12 02:00:00', '2017-09-14 02:00:00',
               '2017-09-16 02:00:00', '2017-09-18 02:00:00'],
              dtype='datetime64[ns]', freq='2D')

In [2]:
dat=pd.date_range('11-Sep-2017', '17-Sep-2017', freq='2D')
print(dat)

DatetimeIndex(['2017-09-11', '2017-09-13', '2017-09-15', '2017-09-17'], dtype='datetime64[ns]', freq='2D')

In [3]:

d = pd.date_range('11-Sep-2017', '17-Sep-2017', freq='2D')
len(d[d.isin(pd.to_datetime(['12-09-2017', '15-09-2017']))])

1

In [6]:
print(len(pd.period_range('11-Sep-2017', '17-Sep-2017', freq='M')))

1

In [ ]:
#Data Aggression:- Python Pandas

#Write your code here
import pandas as pd
import numpy as np
heights_A = pd.Series([176.2,158.4,167.6,156.2,161.4])
heights_A.index = ['s1','s2','s3','s4','s5']
weights_A = pd.Series([85.1,90.2,76.8,80.4,78.9])
weights_A.index = ['s1','s2','s3','s4','s5']

df_A = pd.DataFrame()

df_A['Student_height'] = heights_A
df_A['Student_weight'] = weights_A

df_A_filter1 = df_A[(df_A.Student_weight < 80.0) & (df_A.Student_height > 160.0)]
print(df_A_filter1)

#TASK - 2
df_A_filter2 = df_A[df_A.index.isin(['s5'])]
print(df_A_filter2)

#TASK - 3
df_A['Gender'] = ['M','F','M','M','F']
df_groups = df_A.groupby('Gender')
print(df_groups.mean())

In [ ]:
#Indexing Dataframe Hands-On Solutions - Code:- 
import pandas as pd
import numpy as np

#TASK- 1
DatetimeIndex = pd.date_range(start = '09/01/2017',end='09/15/2017')
print(DatetimeIndex[2])

#TASK - 2
datelist = ['14-Sep-2017','09-Sep-2017']
date_to_be_searched = pd.to_datetime(datelist)
print(date_to_be_searched)

#TASK - 3
print(date_to_be_searched.isin(datelist))

#TASK - 4
arraylist = [['classA']*5 + ['classB']*5,['s1','s2','s3','s4','s5']* 2]
mi_index = pd.MultiIndex.from_product(arraylist,names=['First Level','Second Level'])
print(mi_index.levels)

In [ ]:
#Data Merging Hands-On(1) Solutions:-
#Write your code here
import pandas as pd
import numpy as np
nameid = pd.Series(range(101,111))
name = pd.Series(['person' + str(i) for i in range(1,11)])
master = pd.DataFrame()
master['nameid'] = nameid
master['name'] = name
transaction = pd.DataFrame({'nameid':[108,108,108,103],'product':['iPhone','Nokia','Micromax','Vivo']})
mdf = pd.merge(master,transaction,on='nameid')
print(mdf)

In [ ]:
# Data Cleaning Solutions - Python Pandas 
Code:-
#Write your code here
import pandas as pd
import numpy as np
height_A = pd.Series([176.2,158.4,167.6,156.2,161.4])
height_A.index = ['s1','s2','s3','s4','s5']
weight_A = pd.Series([85.1,90.2,76.8,80.4,78.9])
weight_A.index = ['s1','s2','s3','s4','s5']
df_A = pd.DataFrame()
df_A['Student_height'] = height_A
df_A['Student_weight'] = weight_A

df_A.loc['s3'] = np.nan
df_A.loc['s5'][1] = np.nan

df_A2 = df_A.dropna(how = 'any')
print(df_A2)

In [ ]:
#Data Merging Hands-On(2) Solution: P
#Write your code here
import pandas as pd
import numpy as np

height_A = pd.Series([176.2,158.4,167.6,156.2,161.4])
height_A.index = ['s1','s2','s3','s4','s5']

weights_A = pd.Series([85.1,90.2,76.8,80.4,78.9])
weights_A.index = ['s1','s2','s3','s4','s5']

df_A = pd.DataFrame()
df_A['Student_height'] = height_A
df_A['Student_weight'] = weights_A

df_A['Gender'] = ['M','F','M','M','F']

s = pd.Series([165.4,82.7,'F'],index = ['Student_height','Student_weight','Gender'],name='s6')

df_AA = df_A.append(s)
print(df_AA)

#TASK - 2
my_mean = 170.0
my_std = 25.0
np.random.seed(100)
heights_B = pd.Series(np.random.normal(loc = my_mean,scale=my_std,size = 5))
heights_B.index = ['s1','s2','s3','s4','s5']

my_mean1 = 75.0
my_std1 = 12.0
np.random.seed(100)
weights_B = pd.Series(np.random.normal(loc = my_mean1,scale=my_std1,size = 5))
weights_B.index = ['s1','s2','s3','s4','s5']

df_B = pd.DataFrame()
df_B['Student_height'] = heights_B
df_B['Student_weight'] = weights_B

df_B.index=['s7','s8','s9','s10','s11']
df_B['Gender'] = ['F','M','F','F','M']

df = pd.concat([df_AA,df_B])
print(df)

In [ ]:
#Write your code here
import pandas as pd
import numpy as np
heights_A = pd.Series([176.2,158.4,167.6,156.2,161.4])
heights_A.index = ['s1','s2','s3','s4','s5']
weights_A = pd.Series([85.1,90.2,76.8,80.4,78.9])
weights_A.index = ['s1','s2','s3','s4','s5']
df_A = pd.DataFrame()
df_A['Student_height'] = heights_A
df_A['Student_weight'] = weights_A
df_A.to_csv('classA.csv')

# TASK 2
df_A2 = pd.read_csv('classA.csv')
print(df_A2)

#TASK 3
df_A3 = pd.read_csv('classA.csv',index_col = 0)
print(df_A3)

#TASK 4
my_mean = 170.0
my_std = 25.0
np.random.seed(100)
heights_B = pd.Series(np.random.normal(loc = my_mean, scale = my_std, size = 5))
heights_B.index = ['s1','s2','s3','s4','s5']
my_mean1 = 75.0
my_std1 = 12.0
np.random.seed(100)
weights_B = pd.Series(np.random.normal(loc = my_mean1,scale = my_std1,size = 5))
weights_B.index = ['s1','s2','s3','s4','s5']
df_B = pd.DataFrame()
df_B['Student_height'] = heights_B
df_B['Student_weight'] = weights_B

df_B.to_csv('classB.csv',index = False)
print('classB.csv')

#TASK 5
df_B2 = pd.read_csv('classB.csv')
print(df_B2)

#TASK 6
df_B3 = pd.read_csv('classB.csv',header = None)
print(df_B3)

#TASK 7

df_B4 = pd.read_csv('classB.csv',header = None, skiprows = 2)
print(df_B4)